@import "../../styles/varaibles.scss";

.main-container {
    width: 100%;
    height: 91vh;

    @media screen and (min-height: 995px) {
        height: 93vh;
    }

    @media screen and (min-height: 1290px) {
        height: 94vh;
    }
    @media screen and (min-height: 1505PX) {
        height: 95vh;
    }
}

.top-container {
    background-color: $bg;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    // overflow: hidden;
}

.header2{
    font-size: $font-xl;
    white-space: nowrap;
}

.right-container {
    overflow: auto;

    margin-left: 241px;
    width: 100%;
    height: 100%;
    // scroll-padding: 3px;

    &::-webkit-scrollbar {
        width: 0.75rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $scrollbar;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $scrollbar-hover;
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: $scrollbar-active;
    }
}