@import "../../styles/varaibles.scss";

.song-duration-like {
    opacity: 0;
    margin-right: 1.5rem;
    font-size: 1rem;

    &:hover {
        color: $white;
    }

    &:active {
        color: $scrollbar-active;
    }
}