@import "../../Styles/varaibles.scss";

.song-duration-like, .song-duration-liked{
    margin-right: 1.5rem;
    font-size: 1rem;
}

.song-duration-like {
    opacity: 0;

    &:hover {
        color: $white;
    }

    &:active {
        color: $scrollbar-active;
    }
}

.song-duration-liked{
    color: $btn-green;
    fill: $btn-green;
}