@import "../../styles/varaibles.scss";


.artist-main-container{
    max-width: 1955px;
}

.artist-first-container{
    height: 33.5vh;
    max-height: none;
    padding: 0rem 1.5rem 2rem;
    display: flex;

    div{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}

.artist-image-container{
    margin-right: 2rem;
}

.artist-info-container{
    color: $white;
}

.artist-picture{
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
}

.artist-name{
    font-size: $font-title;
    font-weight: $font-weight-bold;
}

.artist-second-container{
    display: flex;
    padding: 1.5rem 2rem;
    align-items: center;

    *{
        margin-right: 1.5rem;
    }
}

.artist-btn-big-play {
    display: block;
    font-size: 3rem;
    z-index: 1;
    background-color: $btn-green;
    border-radius: 50%;
    box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
    transition: all .3s ease;
    cursor: context-menu;
    padding-left: 0.2rem;

    path {
        fill: $black;
    }

    &:hover {
        transform: scale(1.05);
    }
}

.btn-artist-follow{
    color: $white;
    font-size: $font-xs;
    font-weight: $font-weight-medium;
    letter-spacing: 0.1rem;
    border: 1px solid $grey70;
    border-radius: 0.2rem;
    padding: 0.2rem 0.75rem;
    cursor: context-menu;
    

    &:hover{
        border-color: $white;
    }
}

.artist-follow-menu{
    color: $grey70;
    font-size: $font-large;

    &:hover {
        color: $white;
    }
}

.artist-third-container{
    padding: 0rem 2rem;
}

.artist-section-title{
    color: $white;
}

.artist-song-table{
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
    max-width: 100% !important;  
}

.artist-popular-album-image{
    width: 2.5rem;
}