$bg: #121212;
$black: #000000;
$white: #ffffff;
$grey70: #b3b3b3;
$scrollbar: rgba(255, 255, 255, 0.3);
$scrollbar-hover: rgba(255, 255, 255, 0.5);
$scrollbar-active: rgba(255, 255, 255, 0.7);
$greeting-bg: rgba(255, 255, 255, 0.1);
$greeting-bg-hover: rgba(255, 255, 255, 0.2);
$navbar-bg-hover: #282828;
$playlist-bg: #181818;
$user-btn: rgba(0, 0, 0, 0.7);
$forward-back-btn: #272727;
$font-bold: 700;
$font-slim: 400;
