$bg: #121212;
$black: #000000;
$white: #ffffff;
$grey70: #b3b3b3;
$scrollbar: rgba(255, 255, 255, 0.3);
$scrollbar-hover: rgba(255, 255, 255, 0.5);
$scrollbar-active: rgba(255, 255, 255, 0.7);
$greeting-bg: rgba(255, 255, 255, 0.1);
$greeting-bg-hover: rgba(255, 255, 255, 0.2);
$dark-grey: #282828;
$playlist-bg: #181818;
$user-btn: rgba(0, 0, 0, 0.7);
$forward-back-btn: #272727;
$font-weight-bold: 700;
$font-weight-medium: 600;
$font-weight-slim: 400;
$font-xss: 0.688rem;
$font-xs: 0.75rem;
$font-small: 0.875rem;
$font-medium: 1rem;
$font-large: 1.5rem;
$font-xl: 2rem;
$font-title: 5.5rem;
$btn-green: #1ed760;
$btn-green-hover: #1fdf64;
$btn-green-active: #169c46;
$dark-green: #1db954