@import "../../styles/varaibles.scss";


.album-main-container{
    margin-bottom: 2rem;
}

.album-first-container{
    display: flex;
    height: 17rem;
    align-items: flex-end;
    padding: 1rem 2rem;
}

.album-image-container{
    box-shadow: 0px 0px 10px 3px $black;
    margin-right: 1.5rem;
    width: 14.5rem;
    height: 14.5rem;

    @media screen and (max-width: 1280px) {
        width: 12rem;
        height: 12rem;
    }
}

.album-image{
    width: inherit;
    height: inherit;
    object-fit: contain;
}

.album-details-container{
    color: $white;
}

.album-type{
    font-size: $font-xs;
    font-weight: $font-weight-medium;
}

.album-title{
    font-size: $font-title;
    font-weight: $font-weight-bold;
    white-space: nowrap;

    @media screen and (max-width: 1450px) {
        font-size: 4.5rem;
    }

    @media screen and (max-width: 1250px) {
        font-size: 3.5rem;
        white-space: normal;
    }
    
}

.small-album-title-font{
    font-size: 4rem;

    @media screen and (max-width: 1450px) {
        font-size: 3rem;
    }

    @media screen and (max-width: 1420px) {
        font-size: 2.5rem;
        white-space: normal;
    }
}

.xs-album-title-font{
    font-size: 2.5rem;

    @media screen and (max-width: 1450px) {
        font-size: 2rem;
    }

    @media screen and (max-width: 1230px) {
        font-size: 1.75rem;
        white-space: normal;
    }
}

.album-artist{
    width: 1.5rem;
    border-radius: 50%;
    margin-right: 0.25rem
}

.album-details{
    font-size: $font-small;
    white-space: nowrap;
}

.album-artist-name{
    font-weight: $font-weight-medium;
}

.album-duration{
    color : $scrollbar-active;
}

.album-second-container{
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;

    *:nth-child(n){
        margin-right: 1.5rem;
    }
}

.big-love-icon{
    color: $grey70;
    font-size: $font-large;

    &:hover {
        color: $white;
    }
}

.album-third-container{
    padding: 0rem 2rem;
}

.album-info{
    color: $scrollbar-hover;
    width: 100%;
    height: 2.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem 0rem 0.75rem;
    border-bottom: 1px solid $scrollbar-hover;
    margin-bottom: 1rem;
}

.album-info-first{
    display: flex;
    align-items: center;
}

.album-time-icon{
    margin-right: 2rem;
}

.album-first-col{
    margin-right: 1.5rem;
}

.album-first-col-title{
    font-size: $font-xs;
    letter-spacing: 2px;
}

.album-song-col2{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.album-song-col2-title{
    color: $white;
}

.album-song-col2-artist-name{
    color: $scrollbar-hover;
    font-size: $font-small
}

.album-label{
    margin-top: 2rem;
    color: $scrollbar-hover;
    font-size: $font-xss;
}