@import "../../styles/varaibles.scss";

.main-container {
    width: 100%;
}

.top-container {
    background-color: $bg;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    // overflow: hidden;
}

.header2{
    font-size: $font-xl;
    white-space: nowrap;
}

.right-container {
    overflow: auto;
    overflow-x: hidden;
    margin-left: 241px;
    width: 100%;
    max-width: 1955px;
    // scroll-padding: 3px;

    &::-webkit-scrollbar {
        width: 0.75rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $scrollbar;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $scrollbar-hover;
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: $scrollbar-active;
    }
}