@import "../../styles/varaibles.scss";

.login-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0rem 0.75rem;
    width: 100%;
    height: 80vh;
}

.login-spotify-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-spotify-logo{
    font-size: 3.5rem;
}

.login-spotify-logo-font{
    margin-left: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    
    .login-trademark {
        font-size: 5px;
        vertical-align: super;
    }
}

.login-line{
    width: 100%;
    border-bottom: 1px solid #d9dadc;
    margin: 1.5rem 0rem ;
}

.login-section{
    height: 100%;
    display: flex;
    align-items: center;
}

.btn-guest-login{
    background-color: $btn-green;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    cursor: context-menu;
    border: 3px solid transparent;
    font-weight: 700;
    letter-spacing: 0.1rem;

    &:hover{
        background-color: $btn-green-hover;
        transform: scale(1.04);
    }

    &:active{
        background-color: $btn-green-active;
        transform: scale(1);
        border-color: $black;
    }

    &:focus{
        border-color: $black;
    }
}

.btn-link{
    color: $black;
    text-decoration: none;
}
