@import "../../Styles/varaibles.scss";

.plr-main-container{
    height: 100%;
    margin-bottom: 1rem;
    //check here
    min-width: 450px;

}

.plr-first-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plr-title, .btn-see-all{
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.plr-title{
    font-size: $font-large;
    color: $white;
    margin-bottom: 1rem;
}

.btn-see-all{
    font-size: $font-xs;
    font-weight: $font-weight-bold;
    color: $grey70;
    letter-spacing: 1px;
    align-self: flex-end;
}

.plr-second-container{
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
    max-width: 100% !important;
}

.plr-row{
    margin: 0px !important;
    flex-wrap: nowrap !important;
    --bs-gutter-x: 0px !important;
}

